
#book-list .edit {
	display: none;
}

#book-list .editing .normal {
	display: none;
}

#book-list .editing .edit {
	display: inline;
}

.view button {
	display: none;
}

#book-list {
	width: 600px;
}

.selected button {
	display: inline;
}

.selected {
	background-color: #AFEEEE;
}

.item {
	height: 25px;
}

label.book_name, label.book_author {
	width: 148px;
	display: inline-block;
}

label.book_status {
	width: 75px;
	display: inline-block;
}